* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slideshow {
    background: black;
}

#slide-volvox {
    background-image: url(../images/volvox/volvox-background.png);
    background-size: cover, contain;
    background-position: center, right bottom;
    background-repeat: no-repeat, no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.75);
}

#slide-cheek {
    background-image: url(../images/cheek/cheek-background.png);
    background-size: cover, contain;
    background-position: center, right bottom;
    background-repeat: no-repeat, no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(255,255,255,.75);
}

.inner-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slide-content,
.slide-image {
    padding: 50px 0;
}

.slide-content {
    width: calc(100% - (75vh - 100px) - 100px);
}

.slide-image {
    width: calc(75vh - 100px);
    position: relative;
    height: calc(100vh - 50px);
}

.slide-image .image {
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: calc(((100vh - (75vh - 100px)) - 50px) / 2);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slide-image .image p {
    text-align: center;
}

.slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.slide-content h2.slide-title {
    font-size: 2.5rem;
    font-weight: 900;
}

.slide-content .slide-description {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.75;
    padding: 25px 0 30px;
}

button.btn {
    padding: 15px 20px;
    border: 3px solid black;
    background: white;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    transition: ease 0.25s;
    text-transform: uppercase;
    width: fit-content;
}

button.btn:hover {
    background: black;
    color: white;
    transition: ease 0.25s;
    cursor: not-allowed;
}

#slide-volvox .slide-image .totalmag-40x.active {
    background-image: url(../images/volvox/volvox-40.jpg);
    background-size: cover;
}
#slide-volvox .slide-image .totalmag-100x.active {
    background-image: url(../images/volvox/volvox-100.jpg);
    background-size: cover;
}
#slide-volvox .slide-image .totalmag-400x.active {
    background-image: url(../images/volvox/volvox-400.jpg);
    background-size: cover;
}

#slide-cheek .slide-image .totalmag-40x.active {
    background-image: url(../images/cheek/cheek-40.jpg);
    background-size: cover;
}
#slide-cheek .slide-image .totalmag-100x.active {
    background-image: url(../images/cheek/cheek-100.jpg);
    background-size: cover;
}
#slide-cheek .slide-image .totalmag-400x.active {
    background-image: url(../images/cheek/cheek-400.jpg);
    background-size: cover;
}

#slide-vovox .slide-image .image,
#slide-cheek .slide-image .image {
    display: none;
}

#slide-volvox .slide-image .image.active,
#slide-cheek .slide-image .image.active {
    display: block;
}

.magnification-controls {
    width: 220px;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 110px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.magnification-controls button {
    border: 2px solid black;
    background: white;
    color: black;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: 600;
}

.magnification-controls button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.magnification-controls button.active {
    background: black;
    color: white;
}

#slideshow {
    position: relative;
    overflow: hidden;
    width: 100%; /* Set to the desired width */
    height: calc(100vh - 50px); /* Adjust based on content or set a fixed height */
}

#slideshow .slide-item {
    position: absolute;
    top: 0;
    left: 100%; /* Start off-screen to the right */
    width: 100%;
    transition: left 1s ease-in-out; /* Smooth transition for the 'left' property */
    opacity: 0; /* Make slide invisible when it's not active */
}

#slideshow .slide-item.active-slide {
    opacity: 1; /* Make the active slide fully visible */
    left: 0; /* Position the active slide inside the slideshow container */
}

#slideshow ul {
    height: calc(100vh - 50px);
}

.slideshow-controls {
    background: #000000;
    color: white;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    letter-spacing: 1px;
    text-align: center;
}

.slideshow-controls .prev,
.slideshow-controls .next {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 8px 10px;
    border: none;
}

.slideshow-controls .prev:hover,
.slideshow-controls .next:hover {
    background-color: #bbb; /* Darker shade on hover */
}

.dots .dot {
    height: 15px;
    width: 15px;
    margin: 10px 5px 0;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dots .dot.active-dot {
    background-color: #717171; /* Highlight the active dot */
}
